<table id="extraer" class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
        <th scope="col">Color</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row">{{ valores.id }}</th>
        <td>{{ valores.name }}</td>
        <td>{{ valores.year }}</td>
        <td>{{ valores.color }}</td>
      </tr>
      <tr >
        <th scope="row">{{ valores.id }}</th>
        <td>{{ valores.name }}</td>
        <td>{{ valores.year }}</td>
        <td>{{ valores.color }}</td>
      </tr>
      <tr >
        <th scope="row">{{ valores.id }}</th>
        <td>{{ valores.name }}</td>
        <td>{{ valores.year }}</td>
        <td>{{ valores.color }}</td>
      </tr>
   
    </tbody>
</table>

<div>
  <button type="button" style="margin:  10px" class="btn btn-primary" (click)="imprimirLista()">Generar Pdf</button>
</div>